
/* Styling the clues in the communication structure */
.communicationClues {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

/* Image styling */
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Styling presentation of information for the discussion */

/* Chat styling */
.messageSubmit {
  width: 15%;
  height: 50px;
  padding: 0.3rem 0.6rem;
  border-radius: 0;
  border: 1px solid #394B59;
	background-color: #394B59;
	color: white;
	margin: 0px;
  
  &:hover {
    background-color: #5f839e;
    color: white;
  }

}

/* Message styles */
.sender-message {
  background-color: #dbecf5;
  border-style: solid;
  border-width: 1px;
  border-color: #cad2d8;
}

.receiver-message {
  background-color: #f2f6fa;
  border-style: solid;
  border-width: 1px;
  border-color:#cad2d8;
}

/* Header of Chat design */
.header-notification {
  display: flex;
  align-items: center;
  font-size: 12pt;
  color: white;
  background-color: red;
  border-radius: 5px;
  padding: 7px;
  
}

.header-competition {
  display: flex;
  align-items: center;
  font-size: 12pt;
  color: red;
  background-color: white;
  border: 1px solid red;
  border-radius: 5px;
  padding: 7px;

}

/* select */
select {
  width: 300px;
}

/* Game design boxes */

/* Game tip*/
.game-tip {
  background-color: #dbecf5;
  padding: 20px;
  border-radius: 7px;
  border: 1px solid #394B59;
}

/* Message announcing that they are connected to other players */
.game-instructions {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f5e3d4;
  border: 1px solid #371c06;
  color: #251406;

  padding: 20px;
  border-radius: 7px;
}

/* Game clues */
.game-clues {
  padding: 20px;
  border-radius: 7px;

  border: 1px solid #310833;
  background-color: #f6e7f7;
}

/*Game competition */
.game-competition {
  display: flex;
  justify-content: center;
  align-items: center;

  color: red;
  background-color: white;
  border: 1px solid red;

  padding: 20px;
  border-radius: 7px;
}

/*Fixing spacing in incentives */
.incentives {
  p {
    margin: 15px 0px;
  }
}

/* ----------------------------------------------------------------------------
-                               New Styling                                   -
----------------------------------------------------------------------------- */

/* --------
- General -
--------- */

* {
  font-family: Calibri, Arial, sans-serif;
}

p, span, div {
  font-size: 14pt;
}

h2 {
  font-size: 20pt;
}

h3 {
  font-size: 18pt;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-center-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------
- Buttons -
--------- */

/* My button styling */

.button-holder{
  display: flex;
  justify-content: center;
  margin-top: 2rem;

	button {
    cursor: pointer;
    padding: 0.8rem 1.2rem;
    border-radius: 1rem;
    border: 1px solid #394B59;
    background-color: #394B59;
    color: white;
	}
  
  button:hover {
    background-color: #5f839e;
    color: white;
  }

  button:disabled {
    background-color: #b1c3d0;
    color: #394B59;
  }
}

/* ------
- Timer -
------- */

.seconds {
  // Helvetica has tabular numbers (fixed width), which looks better
  // for a timer, doesn't jump all over the place.
  font-family: Helvetica, Arial, sans-serif;
  color: green;
  margin: 0;
}
&.lessThan10 {
  .seconds {
    color: orange;
  }
}
&.lessThan5 {
  .seconds {
    color: red;
  }
}


/* -------
- Avatar -
-------- */

.avatar-small {
  width: 2rem;
  height: 2rem;
  margin: 0;
}

.avatar-medium {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
}

/* ------------
- Clues Table -
------------- */

.tables-holder {
  display: flex;
  font-size: 12pt;
}

.table-of-clues {
  border-collapse: collapse;
  width: 33.33%;

  p {
    margin: 0;
  }

  th, td {
    padding: 0.5rem;
  }

  td {
    border: 1.5px solid #394B59;
  }

  th {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1.5px solid black;
    background-color: #394B59;
    color: white;

    height: 50px;
  }
}

/* ----------------
- Discussion Tabs -
----------------- */

.header-tab-holder{
  display: flex;
  border: 1.5px solid #394B59;
}

.tab {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 15pt;

  background-color: #394B59;
  color: white;

  padding: 0.8rem 1.2rem;
  border: 1px solid white;
  margin: 0;

  width: 100%;

  &:hover{
    background-color: #5f839e;
    cursor: pointer;
  }
}

.tab-content {
  border: 1.5px solid #394B59;
  border-top: none;
  padding: 10px;
}